*{
    margin: 0;
    padding: 0;
    font-family: "Poppins";
    font-weight: normal;
    box-sizing: border-box;
    
}

#header-login{
    width: 100%;
    height: 96px;
    padding: 29px 48px;
    border-bottom: 1px solid #CECECE;
    background: #FFF;

}
.header-container{
    max-width: 1824px;
    margin: 0 auto;
}
.bloco{
    width: 24px;
    height: 24px;
    background-color: aqua;
}
body{
    height: 100vh;        
}
section.container{
    height: calc(100% - 96px);
    display: flex;
    flex-direction: row;
    justify-content: center;

}
.container-wrapper{
    height: 520px;
    width: 520px;
    margin: 0 16px;
    margin-top: 96px;
}
#logo{
    margin-bottom: 40px;
}
h1 + h1{
    color: #000000;
    font-weight: 600;
    font-size: 1.5rem;
}

h1 + p{
    color: #777777;
    font-family: "Poppins";
    font-size: 0.875rem;
    font-weight: 400;
    margin-top: 8px;
}

form{
    margin-top: 36px;
}
.form-field{
    display: block;
    margin-bottom: 16px;   
}
label{
    color: #000000;
    font-size: 0.875rem;
}

input{
    display: block;
    border: 0;
    outline: none;
    width: 100%;
}
.input-container{
    border: 1px solid #CECECE;
    padding: 13px 16px;
    margin-top: 5px;
    margin-bottom: 16px;
    display: flex;
}

.input-container:focus-within{
    transition: 0.5s;
    border: 1px solid #000000;
}

.erro-senha{

  margin-top: -8px;
  font-size: 0.875rem;
  color: #FA2F2F;

  
  font-weight: 500;
  line-height: normal;
}
.button{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px 13px;
}
.button-primary{
    background: #000000;
    color: #ffffff;
    margin-top: 40px;

}
.button-primary:hover {
    background: #5e5e5e;
}
.button-primary >span{
    color: #FFF;
    font-weight: 500;
    font-size: 1rem;
}
.label-or{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 12px 0;
}
.button-outline{
    border: 1px solid #000000;
}
.button-outline:hover{
    background-color: #f3f3f3;
}
